streamlit==1.61.1
pandas
python-dotenv
llama-index-core
llama-index-llms-groq
llama-index-embeddings-huggingface
sentence-transformers
matplotlib
ruff
pytesseract
pdf2image
Pillow
jiwer
openpyxl
altair
